@import "../styles/_partials/colors";
@import "../styles/_partials/fonts";
@import "../styles/_partials/header";
@import "../styles/_partials/form";
@import "../styles/_partials/weather";

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "pt-sans-narrow";
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
