@import "../styles/_partials/header";
@import "../styles/_partials/form";
@import "../styles/_partials/weather";

body {
  box-sizing: border-box;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
