@font-face {
  font-family: pt-sans-narrow;
  src: url("../assets/fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf");
}

@font-face {
  font-family: pt-sans-narrow-bold;
  src: url("../assets/fonts/PT_Sans_Narrow/PTSansNarrow-Bold.ttf");
}
