.weatherForm {
  display: flex;
  justify-content: center;
  &__input {
    border: 1px solid silver;
    height: 2rem;
    padding: 1rem;
    border-radius: 5px;
  }
  &__button {
    border: 1px solid silver;
    border-radius: 5px;
    margin-left: 1rem;
  }
}
