.weatherForm {
  display: flex;
  justify-content: center;
  &__input {
    border: 2px solid $blue;
    height: 3rem;
    padding: 1rem;
    border-radius: 5px;
  }

  &__button {
    height: 3rem;
    margin-left: 1rem;
  }
}
