.weather {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $blue;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  line-height: 4rem;
  align-items: center;

  &__info {
    p {
      margin: 0;
      color: #ffffff;
      font-size: 3rem;
    }
    flex: 0.6;
  }
  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 10rem;
      width: 10rem;
      border-radius: 1rem;
    }
    flex: 0.2;
  }
  &__pokemon {
    flex: 0.2;
    img {
      padding-top: 15px;
      height: 10rem;
    }
  }
}
