.weather {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $blue;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  line-height: 2rem;

  &__info {
    p {
      margin: 0;
      color: #ffffff;
      font-size: 1.5rem;
    }
    flex: 0.6;
  }
  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 5rem;
      width: 5rem;
      border-radius: 1rem;
    }
    flex: 0.4;
  }
}
